.index-main {
    background-color: #22B573;
    margin: 40px;
    padding-top: 50px;
    padding-right: 68px;
}

.index-logo {
    width: 201px;
    float: right;
}

.display-ib {
    display: inline-block;
    font-size: 48px;
    margin-right: 45px;
    text-transform: uppercase;
}

nav ul {
    float: right;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Myriad Pro';
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

section {
    background-color: #FCEE21;
    width: 617px;
    padding: 36px;
    font-family: 'Myriad Pro';
}

.section-left {
    float: left;
}

.section-right {
    float: right;
    color: #006837;
}

article {
    width: 1252px;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 80px;
    text-transform: uppercase
}

.section-left>img {
    float: right;
    padding-left: 22px;
}

.section-right>img {
    float: left;
    padding-right: 22px;
}

/* FONTS */
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}